@import 'primeicons/primeicons.css';

@layer tailwind-base, primevue, tailwind-utilities;

@layer tailwind-base {
    @tailwind base;
}

@layer tailwind-utilities {
    @tailwind components;
    @tailwind utilities;
}

/* Custom utilities */
@layer utilities {
    .content-border-color {
        border-color: var(--p-content-border-color);
    }

    .link {
        color: var(--p-primary-500);

        &:hover {
            color: var(--p-primary-600);
        }
    }
}

/* SaasAdmin variables */
:root {
    --sidebar-width: 17.5rem;
    --header-height: 4.375rem
}